<% include partials/academic_header %>


<header class="w3-panel w3-center w3-opacity" style="padding:50px 16px">
        <h1 style="padding-bottom: 20px">HOW ARE WE TEACHING COMPUTER SCIENCE?</h1>
        <h2 class="w3-xlarge"  style="padding-bottom: 70px">Welcome to your dashboard!</h2>
        <h3>I want to access</h3>
        <div class="w3-content" style="max-width:1500px">
                
            <div class="w3-padding-32">
                    
                        <a href="/sql_db" class="w3-bar-item w3-button w3-xlarge w3-teal" style:"text-decoration:none">SQL Database</a>
                        <a href="/guest_page" class="w3-bar-item w3-button w3-xlarge w3-indigo" style:"text-decoration:none">General Search</a>
                        <a href="/populatedb_welcome" class="w3-bar-item w3-button w3-xlarge w3-red" style:"text-decoration:none">Populate the Database</a>
            </div>
        </div>
</header>