<head>
        <title>cs_trackulum</title>
        <script
        src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
        <script src = "js/main.js" type="text/javascript"></script>
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--Homepage header-->
<header class="w3-panel w3-center w3-opacity" style="padding:50px 16px">
    <h1 style="padding-bottom: 20px">HOW ARE WE TEACHING COMPUTER SCIENCE?</h1>
    <h2 class="w3-xlarge"  style="padding-bottom: 70px">All in One stop to know about Computer Science curriculum around the world!</h1>
    <h3>I'm a</h3>
    <div class="w3-content" style="max-width:1500px">
            
        <div class="w3-padding-32">
                
                    <a href="/guest_page" class="w3-bar-item w3-button w3-xlarge w3-teal">Guest User</a>
                    <a href="/authentication_page" class="w3-bar-item w3-button w3-xlarge w3-indigo">Academic User</a>
        
        </div>
    </div>
</header>



<% include partials/footer %>