<% include partials/academic_header %>

<header class="w3-panel w3-center w3-opacity" style="padding:50px 16px">
    <h1 style="padding-bottom: 20px">Welcome to POPULATEDB Interface</h1>
    <h2 class="w3-xlarge"  style="padding-bottom: 70px">You help us to make this platform better and reliable!</h1>
    <h3>I want to add</h3>
    <div class="w3-content" style="max-width:1500px">
            
        <div class="w3-padding-32">
                
                    <a href="/users/adduni" class="w3-bar-item w3-button w3-xlarge w3-teal" style:"text-decoration:none">University</a>
                    <a href="/users/addcourse" class="w3-bar-item w3-button w3-xlarge w3-indigo" style:"text-decoration:none">Course</a>
                    <a href="/users/addmodule" class="w3-bar-item w3-button w3-xlarge w3-red" style:"text-decoration:none">Module</a>
        </div>
    </div>
</header>