<% include partials/academic_header %>
<script src="js/sql_db_1.js" type="text/javascript"></script>
<div class="w3-panel w3-opacity">
<div class = "w3-container" style="margin-bottom: 10px">
<ul id="db_table_list" class="w3-ul w3-card-4" style="">
    <li><h3>Database Tables</h3></li>
    <% for(var i=0 ; i<table_names.length ; i++){ %>
    <li><a href = "#" data-id="<%=table_names[i].TABLE_NAME %>" class="sql_table_list" ><%=table_names[i].TABLE_NAME %></a></li>
    <%}%>
</ul>
<ul id="db_table_list" class="w3-ul w3-card-4" style="padding:10px ; align-content:center">
<li><h3>Database Schema</h3></li>
<li><img src="/images/db_schema.png" id="dbSchema_image"></li>
</ul>

</div>
<div style="float: left; padding:90px ; margin: auto"><input type = "text" id="query_text" class="myInput" placeholder="Type your SQL query here.."><button id = "GO" class= "w3-button w3-teal">RUN QUERY</button></div>
</div>
<div class = "w3-container" style="overflow-x: scroll">
<h3>Result:</h3>
<div id = "testdat"></div>
</div>
</div>





